    <app-nav-bar></app-nav-bar>
    <div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="padding-bottom">
        <div class="card card-home-category no-gutters" style="margin-top: 40px;"> 
        <div class="row"> 
        <aside class="col-lg col-md-3 flex-lg-grow-0">
            <nav class="nav-home-aside">
                <h6 class="title-category">MY MARKETS <i class="d-md-none icon fa fa-chevron-down"></i></h6>
                <ul class="menu-category">
                    <li><a href="#">Fashion and clothes</a></li>
                    <li><a href="#">Automobile and motors</a></li>
                    <li><a href="#">Gardening and agriculture</a></li>
                    <li><a href="#">Electronics and tech</a></li>
                    <li><a href="#">Packaginf and printing</a></li>
                    <li><a href="#">Home and kitchen</a></li>
                    <li><a href="#">Digital goods</a></li>
                    <li class="has-submenu"><a href="#">More items</a>
                        <ul class="submenu">
                            <li><a href="#">Submenu name</a></li>
                            <li><a href="#">Great submenu</a></li>
                            <li><a href="#">Another menu</a></li>
                            <li><a href="#">Some others</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div >
            <div class="home-category-banner bg-light-orange">
                <h5 class="title">Best trending clothes only for summer</h5>
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="btn btn-outline-primary rounded-pill" >Source now</a>
                <img src="assets/images/items/2.jpg" class="img-bg" >
            </div>
            </div>
        </aside>
        <div class="col-md-9">
            <ul class="row no-gutters bordered-cols">
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Well made women clothes with trending collection  </h6>
                    <img class="img-sm float-right" src="assets/images/items/1.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                </div>
            </a>
                </li>
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Great clothes with trending collection  </h6>
                    <img class="img-sm float-right" src="assets/images/items/2.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Beijing, China</p>
                </div>
            </a>
                </li>
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Demo clothes with sample collection  </h6>
                    <img class="img-sm float-right" src="assets/images/items/3.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tokyo, Japan</p>
                </div>
            </a>
                </li>
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Home and kitchen electronic  stuff collection  </h6>
                    <img class="img-sm float-right" src="assets/images/items/4.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tashkent, Uzb</p>
                </div>
            </a>
                </li>
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Home and kitchen electronic  stuff collection  </h6>
                    <img class="img-sm float-right" src="assets/images/items/5.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> London, Britain</p>
                </div>
            </a>
                </li>
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Home and kitchen electronic  stuff collection  </h6>
                    <img class="img-sm float-right" src="assets/images/items/6.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                </div>
            </a>
                </li>
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Well made clothes with trending collection </h6>
                    <img class="img-sm float-right" src="assets/images/items/7.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Hong Kong, China</p>
          
                </div>
            </a>
                </li>
                <li class="col-6 col-lg-3 col-md-4">
            <a href="#" class="item">
                <div class="card-body">
                    <h6 class="title">Home and kitchen interior  stuff collection   </h6>
                    <img class="img-sm float-right" src="assets/images/items/6.jpg">
                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
                </div>
            </a>
                </li>
            </ul>
                </div>
        </div>
        <div class="card card-home-category">
        <div class="row no-gutters">

            

            <div class="col-md-9">
        <ul class="row no-gutters bordered-cols">
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Well made women clothes with trending collection  </h6>
                <img class="img-sm float-right" src="assets/images/items/1.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
            </div>
        </a>
            </li>
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Great clothes with trending collection  </h6>
                <img class="img-sm float-right" src="assets/images/items/2.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Beijing, China</p>
            </div>
        </a>
            </li>
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Demo clothes with sample collection  </h6>
                <img class="img-sm float-right" src="assets/images/items/3.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tokyo, Japan</p>
            </div>
        </a>
            </li>
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Home and kitchen electronic  stuff collection  </h6>
                <img class="img-sm float-right" src="assets/images/items/4.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Tashkent, Uzb</p>
            </div>
        </a>
            </li>
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Home and kitchen electronic  stuff collection  </h6>
                <img class="img-sm float-right" src="assets/images/items/5.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> London, Britain</p>
            </div>
        </a>
            </li>
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Home and kitchen electronic  stuff collection  </h6>
                <img class="img-sm float-right" src="assets/images/items/6.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
            </div>
        </a>
            </li>
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Well made clothes with trending collection </h6>
                <img class="img-sm float-right" src="assets/images/items/7.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Hong Kong, China</p>
      
            </div>
        </a>
            </li>
            <li class="col-6 col-lg-3 col-md-4">
        <a href="#" class="item">
            <div class="card-body">
                <h6 class="title">Home and kitchen interior  stuff collection   </h6>
                <img class="img-sm float-right" src="assets/images/items/6.jpg">
                <p class="text-muted"><i class="fa fa-map-marker-alt"></i> Guanjou, China</p>
            </div>
        </a>
            </li>
        </ul>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
        </div> <!-- card.// -->
        </div>
        </section>
        </div>