.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image:  url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Policia_e_Shtetit.svg/1200px-Policia_e_Shtetit.svg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 320px 400px;
  background-color: #2C233E;
  
}

.active{
    filter: blur(5px);
}
