<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <ng-template #content let-modal>
    <app-signup (messageEvent)="qwe($event)"></app-signup>
  </ng-template>


  <div class="container-fluid" [ngClass]="{ 'active': v===true }">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image" ></div>


        <!-- The content half -->
        <div class="col-md-6" style="background-color: #2C233E;">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container" style="margin-left: -50px;">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto" style="color: white;">
                            <h3 class="display-4">Login</h3>

                            <form style="margin-top: 30px;">
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>

                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                                <div class="text-center d-flex justify-content-between mt-4"><p>Contact <a href="#" class="font-italic text-muted">
                                        <u>HelpDesk </u></a></p></div>
                            </form>
                            <div class="text-center d-flex justify-content-between mt-4">
                            <button type="button" class="btn btn-primary" style="margin-top: 10px;" name="register"  (click)="open(content)">Register</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
